.idea/
output/
__pycache__/
debug.py
debug.log
config.ini

tests/aaf/jc3/
tests/aaf/jc4/
tests/adf/jc3/
tests/adf/jc4/
tests/arc/jc3/
tests/arc/jc4/
tests/irtpc/jc3/
tests/irtpc/jc4/
tests/rtpc/jc3/
tests/rtpc/jc4/
tests/sarc/jc3/
tests/sarc/jc4/